.primary-btn {
    background-color: var(--color-tertiary);
    color: var( --color-text-primary);
    border: none;
    border-radius: var( --borderRadius-primary);
    cursor: pointer;
    padding: 1rem 2.5rem 1rem 2.5rem;
}