.card {
    background-color: var(--color-secondary);
    width: 265px;
    height: 300px;
    position: relative;

    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: var(--space-primary);
    padding-top:1rem;
   
}

.checkboxWrapper {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 10;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;

}

.content > *:first-child {
  flex-shrink: 0;
  min-width: 90px;
  min-height: 90px;
}

.content > * {
    margin: 0.5rem 0;
}

/* Card.module.css */

/* Target the custom checkbox span */
.checkboxWrapper :global(.checkboxCustom) {
    border-color: var(--color-primary);
    background-color: white;
}

/* When checked */
.checkboxWrapper :global(.checkboxInput:checked + .checkboxCustom) {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

/* Change tick color */
.checkboxWrapper :global(.checkboxInput:checked + .checkboxCustom:after) {
    border-color: white;
}

/* Optional: Hover states */
.checkboxWrapper :global(.checkboxCustom:hover) {
    border-color: blue;
}

.checkboxWrapper :global(.checkboxInput:checked + .checkboxCustom:hover) {
    background-color: red;
    border-color: red;
}