.card {
    background-color: var(--color-secondary);
    width: 285px;
    height: 300px;
    position: relative;
    padding: 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkboxWrapper {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 10;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.content > *:first-child {
  flex-shrink: 0;
  min-width: 90px;
  min-height: 90px;
}

.content > * {
    margin: 0.5rem 0;
}